In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import csv

In [4]:
pwd

'C:\\Users\\tomga\\code\\movierecommender\\JC_Movie_Recommender'

In [5]:
PATH1 = "movies_combined.csv"
PATH2 = "ratings.csv"
df, df2 = pd.read_csv(PATH1),pd.read_csv(PATH2)

In [6]:
df.set_index('movieId',inplace=True)
df.head(2)

,title,userId,tag,timestamp,genres_(no genres listed),genres_Action,genres_Action|Adventure,genres_Action|Adventure|Animation,genres_Action|Adventure|Animation|Children,genres_Action|Adventure|Animation|Children|Comedy,...,genres_Romance|Thriller,genres_Romance|War,genres_Romance|Western,genres_Sci-Fi,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Thriller,genres_War,genres_Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Toy Story (1995),474.0,pixar,1.137207e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df2.set_index('movieId',inplace=True)
df2.head(2)

         userId  rating  timestamp
movieId
1             1     4.0  964982703
3             1     4.0  964981247

In [8]:
merge = pd.merge(df,df2, left_index = True, right_index=True,how = 'outer')
merge.head(2)

,title,userId_x,tag,timestamp_x,genres_(no genres listed),genres_Action,genres_Action|Adventure,genres_Action|Adventure|Animation,genres_Action|Adventure|Animation|Children,genres_Action|Adventure|Animation|Children|Comedy,...,genres_Sci-Fi,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Thriller,genres_War,genres_Western,userId_y,rating,timestamp_y
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,4.0,964982703.0
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5.0,4.0,847434962.0

In [11]:
#split out the year
import re
pattern = '(\d\d\d\d)'
def get_year(s):
    return re.findall(pattern, s)
merge['year'] = merge['title'].apply(get_year)

In [12]:
merge.head()

,title,userId_x,tag,timestamp_x,genres_(no genres listed),genres_Action,genres_Action|Adventure,genres_Action|Adventure|Animation,genres_Action|Adventure|Animation|Children,genres_Action|Adventure|Animation|Children|Comedy,...,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Thriller,genres_War,genres_Western,userId_y,rating,timestamp_y,year
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,1.0,4.0,9.649827e+08,[1995]
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,5.0,4.0,8.474350e+08,[1995]
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,7.0,4.5,1.106636e+09,[1995]
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,15.0,2.5,1.510578e+09,[1995]
1,Toy Story (1995),336.0,pixar,1.139046e+09,0,0,0,0,0,0,...,0,0,0,0,0,0,17.0,4.5,1.305696e+09,[1995]

In [3]:
##Class

In [4]:
df = pd.read_excel(PATH)
print('''
     Julians Movie Recommender:
     
     Enter your favorite genre or reviwer 
     and the program will recommend a movie
      
     ''')

print('enter a genre (or leave it empty): ', end = '')
genre = input

SyntaxError: invalid syntax (<ipython-input-4-cf7f41e9cf99>, line 3)

In [ ]:
if genre:
    g = df[df['Genre'] = genre]
    else:
        g= df
g.sort_values('Rating', ascending = False)
print(result.head(3).sample(1))

In [ ]:
# write simple ui
# print explanatory text
# ask user for genre
# and fav reviewer
# either can be empty
# return the best scoring hit

In [5]:
#ui

In [6]:
#recommender

In [ ]:
#database

In [ ]:
###End of class

In [3]:
# produce clean unique index
df.sort_values(by=['Name', 'Genre', 'Reviewer'], inplace=True)
clean = df.drop_duplicates().dropna()

In [4]:
long = clean.set_index(['Name', 'Genre', 'Reviewer'])

In [5]:
# mean rating per genre
print(long.unstack(1).mean())

        Genre
Rating  Action             1.500000
        Adventure          1.000000
        Biopic             4.000000
        Cartoon            3.500000
        Comedy             3.818182
        Comedy / Trippy    4.000000
        Crime              4.400000
        Dark Comedy        4.500000
        Data Science       3.750000
        Drama              4.250000
        Fantasy            4.000000
        Farce              1.000000
        Horror             3.333333
        Kaiju              1.000000
        Musical            1.500000
        Mystery            5.000000
        Revolutionary      4.000000
        Samurai            4.000000
        Sci-Fi             4.200000
        Thriller           5.000000
        Trippy             4.000000
dtype: float64

In [6]:
df.head(5)

                    Name   Genre  Rating  Reviewer
0           12 Angry Men   Drama     1.0    Felipe
1             12 Monkeys  Sci-Fi     4.0    Helena
2  2001: A Space Odyssey  Sci-Fi     5.0  Matthias
3       A Beautiful Mind  Biopic     4.0  Matthias
4          A Quiet Place   Drama     5.0      Nick

In [7]:
y = df['Rating']
###Need to convert your categories into one hot values!!!
X = df[['Name','Genre','Reviewer']]
from sklearn.preprocessing import LabelEncoder
m = LabelEncoder()
m.fit_transform(X['Genre'])
pd.get_dummies(X['Genre'])

,Action,Adventure,Biopic,Cartoon,Comedy,Comedy / Trippy,Crime,Crime/Drama?,Dark Comedy,Data Science,...,Farce,Horror,Kaiju,Musical,Mystery,Revolutionary,Samurai,Sci-Fi,Thriller,Trippy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
77,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
51,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
57,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
61,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
62,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
66,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
71,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
76,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
X.head(3)

                    Name   Genre  Reviewer
0           12 Angry Men   Drama    Felipe
1             12 Monkeys  Sci-Fi    Helena
2  2001: A Space Odyssey  Sci-Fi  Matthias

Lets first try a logistic regression!

In [9]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y)
print(Xtrain.shape, Xtest.shape, ytrain.shape, ytest.shape)
# create a decision tree
m = DecisionTreeClassifier(max_depth=3)

(60, 3) (21, 3) (60,) (21,)

Select a genre 
from this genre selct the top movies?