## NMF = Not Monday night Football !

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
from random import randint
import numpy as np
from sklearn.decomposition import NMF
import pandas as pd
import random
from matplotlib import pyplot as plt
from matplotlib import pyplot as plt
%matplotlib inline
import csv

In [40]:
PATH2 = "ratings.csv"
PATH3 = "movies.csv"
ratings, movies_ind = pd.read_csv(PATH2), pd.read_csv(PATH3)
del ratings['timestamp']
ratings.set_index(['movieId','userId'], inplace=True)
ratings = ratings.unstack(0)
ratings = ratings.fillna(0)
ratings = ratings["rating"]
#ratings = ratings.transpose()

In [41]:
ratings.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
R = pd.DataFrame(ratings)
# model assumes R ~ PQ'
model = NMF(n_components=5, init='random', random_state=10)
model.fit(R)

P = model.components_  # Movie feature
Q = model.transform(R)  # User features
#print(Q)

#print(model.reconstruction_err_)

nR = np.dot(Q,P) ### Reconstructed model
#print(nR)

###########Delete the crap below later 
query = np.zeros(9724) ###This comes from Glynis array the size = # movies
rr= 2
for i in range(0,100):
   # print(i)
    query[i] = rr
    if i == 50:
        rr = 4
########################Delete this after we have user input 


query = query.reshape(1,-1)
t=model.transform(query)
model.transform(query)
NewR = np.dot(t,P)

##### Now we Select the best movies to offer the user
ind = np.argpartition(NewR[0], -5)[-5:] 
Select = ind[0:5][randint(0, 4)]

In [235]:
NewR[0:5]

array([[5.36476038e-01, 3.93061156e-01, 2.11923580e-01, ...,
        5.88008510e-05, 5.88008510e-05, 4.83402478e-05]])

In [234]:
movies_ind.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [244]:
title = movies_ind[movies_ind['movieId'] == 38 ]

In [246]:
movies_ind.loc[398]

movieId                     457
title      Fugitive, The (1993)
genres                 Thriller
Name: 398, dtype: object

In [245]:
print(title)

    movieId                title           genres
34       38  It Takes Two (1995)  Children|Comedy

In [229]:
Select

398

In [176]:
ind

array([418, 123, 314,  97, 398])