## NMF = Not Monday night Football !

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
from random import randint
import numpy as np
from sklearn.decomposition import NMF
import pandas as pd
import random
from matplotlib import pyplot as plt
%matplotlib inline
import csv

# User Input

In [285]:
#importing ratings and movies csv files
PATH2 = "ratings.csv"
PATH3 = "movies.csv"
ratings, movies_ind = pd.read_csv(PATH2), pd.read_csv(PATH3)

In [286]:
# create an empty array the length of number of movies in system
user_ratings = np.zeros(9724)

In [287]:
#format ratings dataframe
del ratings['timestamp']
ratings.set_index(['userId','movieId'], inplace=True)
ratings = ratings.unstack(0)

In [288]:
ratings_count = ratings.count(axis=1) #count the number of ratings for each movie as a measure of popularity
top = pd.DataFrame(ratings_count.sort_values(ascending = False).head(10)) #create a dataframe of the top 20 most popular movies

In [289]:
top.reset_index(inplace=True)

In [290]:
movies_ind.set_index('movieId',inplace=True)

In [296]:
top_movies_g = movies_ind.loc[top['movieId']]['title'].values

In [297]:
top_movies_g

array(['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)',
       'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)',
       'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Jurassic Park (1993)', 'Braveheart (1995)',
       'Terminator 2: Judgment Day (1991)', "Schindler's List (1993)"],
      dtype=object)

## Of the following movies, rate all that you have seen on a scale of 1-5. 
## If you have not seen a movie, rate 0.

In [299]:
#creates a list of ratings for the prompted movies
user_input = []
for i in range(0,10):
    answer = int(input("How would you rate " + str(top_movies_g[i])))
    user_input.append(answer)

How would you rate Forrest Gump (1994)2
How would you rate Shawshank Redemption, The (1994)3
How would you rate Pulp Fiction (1994)4
How would you rate Silence of the Lambs, The (1991)5
How would you rate Matrix, The (1999)6
How would you rate Star Wars: Episode IV - A New Hope (1977)7
How would you rate Jurassic Park (1993)5
How would you rate Braveheart (1995)4
How would you rate Terminator 2: Judgment Day (1991)5
How would you rate Schindler's List (1993)6

In [307]:
movies_ind.reset_index(inplace=True)

In [311]:
top_movies_index = movies_ind.index[top['movieId']].values

In [312]:
# inputs user rating into large array (9,000+ count) at appropriate indexes
for i in range(0,10):
    user_ratings[top_movies_index[i]] = user_input[i]

In [316]:
user_ratings

array([0., 0., 0., ..., 0., 0., 0.])

# NMF Modeling

In [18]:
PATH2 = "ratings.csv"
PATH3 = "movies.csv"
ratings, movies_ind = pd.read_csv(PATH2), pd.read_csv(PATH3)
del ratings['timestamp']
ratings.set_index(['movieId','userId'], inplace=True)
ratings = ratings.unstack(0)
ratings = ratings.fillna(0)
ratings = ratings["rating"]
#ratings = ratings.transpose()

In [19]:
ratings.head(2)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
R = pd.DataFrame(ratings)
# model assumes R ~ PQ'
model = NMF(n_components=5, init='random', random_state=10)
model.fit(R)

P = model.components_  # Movie feature
Q = model.transform(R)  # User features
#print(Q)

#print(model.reconstruction_err_)

#nR = np.dot(Q,P) ### Reconstructed model
#print(nR)

###########Delete the crap below later 
#query = np.zeros(9724) ###This comes from Glynis array the size = # movies
#rr= 2
#for i in range(0,100):
   # print(i)
  #  query[i] = rr
  #  if i == 50:
      #  rr = 4
########################Delete this after we have user input 

##### Now we Select the best movies to offer the user
#ind = np.argpartition(outcome[0], -5)[-5:] 
#Select = ind[0:5][randint(0, 4)]

In [22]:
query= user_ratings
query = query.reshape(1,-1)
t=model.transform(query)
outcome = np.dot(t,P)

In [23]:
outcome=pd.DataFrame(outcome)

In [24]:
outcome = outcome.transpose()

In [25]:
outcome['movieId'] = movies_ind['movieId']

In [26]:
outcome = outcome.rename(columns={0:'rating'})

In [168]:
top

        rating  movieId
277   1.229559      318
257   1.181794      296
314   1.164490      356
510   1.010917      593
97    1.007184      110
507   0.838561      589
418   0.816432      480
398   0.791485      457
123   0.788366      150
461   0.785229      527
43    0.783400       47
46    0.767977       50
1938  0.740339     2570
508   0.682072      590
2224  0.651039     2953
337   0.640865      380
509   0.628101      592
224   0.624949      260
31    0.597091       32
322   0.583684      364
334   0.572299      377
138   0.571486      165
506   0.571191      588
0     0.561985        1
615   0.541557      780
1502  0.540689     2027
307   0.530855      349
659   0.523340      858
520   0.516235      608
134   0.502329      161
897   0.498068     1194
3633  0.495551     4988
4791  0.489664     7137
275   0.484607      316
546   0.476078      648
325   0.474539      367
254   0.474114      293
395   0.470524      454
910   0.468024     1209
4131  0.465850     5943
2144  0.461428     2857
253   0.460572      292
9     0.447964       10
126   0.443816      153
899   0.441639     1197
512   0.435696      595
3136  0.432247     4220
378   0.429091      434
302   0.426658      344
32    0.418893       34

In [169]:
for x in top.index:
    if x ==

Int64Index([ 277,  257,  314,  510,   97,  507,  418,  398,  123,  461,   43,
              46, 1938,  508, 2224,  337,  509,  224,   31,  322,  334,  138,
             506,    0,  615, 1502,  307,  659,  520,  134,  897, 3633, 4791,
             275,  546,  325,  254,  395,  910, 4131, 2144,  253,    9,  126,
             899,  512, 3136,  378,  302,   32],
           dtype='int64')

In [139]:
top =outcome.sort_values(by='rating',ascending=False).head(50)

top_movies = []
for x in top['movieId']:
    top_movies.append(movies_ind[movies_ind['movieId']== x])

top_movies

[     movieId                             title       genres
 277      318  Shawshank Redemption, The (1994)  Crime|Drama,
      movieId                title                       genres
 257      296  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller,
      movieId                title                    genres
 314      356  Forrest Gump (1994)  Comedy|Drama|Romance|War,
      movieId                             title                 genres
 510      593  Silence of the Lambs, The (1991)  Crime|Horror|Thriller,
     movieId              title            genres
 97      110  Braveheart (1995)  Action|Drama|War,
      movieId                              title         genres
 507      589  Terminator 2: Judgment Day (1991)  Action|Sci-Fi,
      movieId                 title                            genres
 418      480  Jurassic Park (1993)  Action|Adventure|Sci-Fi|Thriller,
      movieId                 title    genres
 398      457  Fugitive, The (1993)  Thriller,
      movieId             title                genres
 123      150  Apollo 13 (1995)  Adventure|Drama|IMAX,
      movieId                    title     genres
 461      527  Schindler's List (1993)  Drama|War,
     movieId                        title            genres
 43       47  Seven (a.k.a. Se7en) (1995)  Mystery|Thriller,
     movieId                       title                  genres
 46       50  Usual Suspects, The (1995)  Crime|Mystery|Thriller,
       movieId                       title         genres
 1938     2570  Walk on the Moon, A (1999)  Drama|Romance,
      movieId                      title                   genres
 508      590  Dances with Wolves (1990)  Adventure|Drama|Western,
       movieId                                  title           genres
 2224     2953  Home Alone 2: Lost in New York (1992)  Children|Comedy,
      movieId             title                                    genres
 337      380  True Lies (1994)  Action|Adventure|Comedy|Romance|Thriller,
      movieId          title                 genres
 509      592  Batman (1989)  Action|Crime|Thriller,
      movieId                                      title  \
 224      260  Star Wars: Episode IV - A New Hope (1977)

                       genres
 224  Action|Adventure|Sci-Fi  ,
     movieId                                      title  \
 31       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)

                      genres
 31  Mystery|Sci-Fi|Thriller  ,
      movieId                  title  \
 322      364  Lion King, The (1994)

                                               genres
 322  Adventure|Animation|Children|Drama|Musical|IMAX  ,
      movieId         title                   genres
 334      377  Speed (1994)  Action|Romance|Thriller,
      movieId                              title                 genres
 138      165  Die Hard: With a Vengeance (1995)  Action|Crime|Thriller,
      movieId           title                                       genres
 506      588  Aladdin (1992)  Adventure|Animation|Children|Comedy|Musical,
    movieId             title                                       genres
 0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy,
      movieId                                 title  \
 615      780  Independence Day (a.k.a. ID4) (1996)

                                genres
 615  Action|Adventure|Sci-Fi|Thriller  ,
       movieId                        title        genres
 1502     2027  Jane Austen's Mafia! (1998)  Comedy|Crime,
      movieId                            title                       genres
 307      349  Clear and Present Danger (1994)  Action|Crime|Drama|Thriller,
      movieId                  title       genres
 659      858  Godfather, The (1972)  Crime|Drama,
      movieId         title                       genres
 520      608  Fargo (1996)  Comedy|Crime|Drama|Thriller,
      movieId                title              genres
 134      161  Crimson Tide (1995)  Drama|Thriller|War,
      movieId                                  title  genres
 897     1194  Cheech and Chong's Up in Smoke (1978)  Comedy,
       movieId                      title     genres
 3633     4988  White Water Summer (1987)  Adventure,
       movieId               title                genres
 4791     7137  Cooler, The (2003)  Comedy|Drama|Romance,
      movieId            title                   genres
 275      316  Stargate (1994)  Action|Adventure|Sci-Fi,
      movieId                       title                             genres
 546      648  Mission: Impossible (1996)  Action|Adventure|Mystery|Thriller,
      movieId             title                       genres
 325      367  Mask, The (1994)  Action|Comedy|Crime|Fantasy,
      movieId                                              title  \
 254      293  LÃ©on: The Professional (a.k.a. The Professiona...

                           genres
 254  Action|Crime|Drama|Thriller  ,
      movieId             title          genres
 395      454  Firm, The (1993)  Drama|Thriller,
      movieId                                              title  \
 910     1209  Once Upon a Time in the West (C'era una volta ...

                    genres
 910  Action|Drama|Western  ,
       movieId                     title          genres
 4131     5943  Maid in Manhattan (2002)  Comedy|Romance,
       movieId                    title  \
 2144     2857  Yellow Submarine (1968)

                                           genres
 2144  Adventure|Animation|Comedy|Fantasy|Musical  ,
      movieId            title                        genres
 253      292  Outbreak (1995)  Action|Drama|Sci-Fi|Thriller,
    movieId             title                     genres
 9       10  GoldenEye (1995)  Action|Adventure|Thriller,
      movieId                  title                         genres
 126      153  Batman Forever (1995)  Action|Adventure|Comedy|Crime,
      movieId                       title  \
 899     1197  Princess Bride, The (1987)

                                       genres
 899  Action|Adventure|Comedy|Fantasy|Romance  ,
      movieId                        title  \
 512      595  Beauty and the Beast (1991)

                                               genres
 512  Animation|Children|Fantasy|Musical|Romance|IMAX  ,
       movieId                     title  genres
 3136     4220  Longest Yard, The (1974)  Comedy,
      movieId               title                     genres
 378      434  Cliffhanger (1993)  Action|Adventure|Thriller,
      movieId                              title  genres
 302      344  Ace Ventura: Pet Detective (1994)  Comedy,
     movieId        title          genres
 32       34  Babe (1995)  Children|Drama]

# Selecting a Movie

In [140]:
# top_movies = pd.DataFrame(top_movies)

In [148]:
top_movies_g[0]

     movieId                title                    genres
314      356  Forrest Gump (1994)  Comedy|Drama|Romance|War

In [162]:
top_movies[0].shape

(1, 3)

In [165]:
top_movies[0]['movieId']

277    318
Name: movieId, dtype: int64

In [151]:
for x in top_movies:
    if top_movies == top_movies_g:
        print('repeat')

In [159]:
top_movies[0]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [29]:
#importing genres
PATH4 = "movie_genres_years.csv"
movie_genres = pd.read_csv(PATH4)

In [30]:
genres_columns = movie_genres.columns[3:23]

In [31]:
# select a random movie from top five options
# we should filter by genre next
Select = top_movies[0:5][randint(0, 4)]

In [32]:
Select

     movieId                title                       genres
257      296  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller

In [33]:
outcome.sort_values(by='rating',ascending=False)

        rating  movieId
277   1.229559      318
257   1.181794      296
314   1.164490      356
510   1.010917      593
97    1.007184      110
507   0.838561      589
418   0.816432      480
398   0.791485      457
123   0.788366      150
461   0.785229      527
43    0.783400       47
46    0.767977       50
1938  0.740339     2570
508   0.682072      590
2224  0.651039     2953
337   0.640865      380
509   0.628101      592
224   0.624949      260
31    0.597091       32
322   0.583684      364
334   0.572299      377
138   0.571486      165
506   0.571191      588
0     0.561985        1
615   0.541557      780
1502  0.540689     2027
307   0.530855      349
659   0.523340      858
520   0.516235      608
134   0.502329      161
...        ...      ...
5436  0.000000    25952
5435  0.000000    25947
5433  0.000000    25940
5431  0.000000    25927
5430  0.000000    25923
5429  0.000000    25906
5428  0.000000    25905
5456  0.000000    26124
1994  0.000000     2654
5459  0.000000    26142
1982  0.000000     2632
5485  0.000000    26308
5483  0.000000    26285
1979  0.000000     2628
5478  0.000000    26242
1980  0.000000     2629
1981  0.000000     2630
5474  0.000000    26225
5473  0.000000    26198
5471  0.000000    26184
5461  0.000000    26150
5470  0.000000    26183
5469  0.000000    26176
5468  0.000000    26172
1983  0.000000     2633
1989  0.000000     2643
5465  0.000000    26159
1992  0.000000     2651
5462  0.000000    26151
4862  0.000000     7265

[9724 rows x 2 columns]